SESSION_COOKIE_SALT=<salt>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DATABASE=<database-name>
ADMIN_USERNAME=<admin-username>
ADMIN_PASSWORD=<admin-password>
REMOTE_LLM_ORIGIN=<https://...>
REMOTE_LLM_API_KEY=<api-key>